# Main

In [2]:
import os

import json
import requests


from functools import reduce
import operator

import pandas as pd
import numpy as np
import re

import sqlalchemy as alch
from getpass import getpass

In [3]:
password = getpass("Insert your password here: ")

Insert your password here: ········

In [5]:
dbName = "project_4"

In [6]:
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [7]:
engine = alch.create_engine(connectionData)

In [8]:
list(engine.execute("SELECT * FROM trump_rally_speeches"))

[]

In [9]:
trump_speech_df= pd.read_csv("./trump_speech_df.csv")

In [19]:
trump_speech_df.sample()

,location,date,year,speech
22,NewHampshire,Feb10,2020,"Hello, Manchester, and I am thrilled to be in ..."

In [17]:
def check (something, obj):
    
    if something == "location":
        query = list(engine.execute(f"SELECT name FROM location WHERE name = '{obj}';"))
        if len(query) > 0:
            return True
        else:
            return False

In [18]:
check("Hershey", "2019")

In [ ]:

app = Flask(__name__)

# Render the markdwon
@app.route("/")
def readme ():
    readme_file = open("README.md", "r")
    return markdown.markdown(readme_file.read(), extensions = ["fenced_code"])

# GET ENDPOINTS: SQL 
# SQL get everything
@app.route("/sql/")
def sql ():
    return jsonify(esecuele.get_everything())

@app.route("/sql/<name>", )
def lines_from_characters (name):
    return jsonify(esecuele.get_everything_from_character(name))


@app.route("/sa/<name>/", )
def sa_from_character (name):
    everything = esecuele.get_just_dialogue(name)
    #return jsonify(everything)
    return jsonify([sia.polarity_scores(i["dialogue"])["compound"] for i in everything])


####### POST
@app.route("/insertrow", methods=["POST"])
def try_post ():
    # Decoding params
    my_params = request.args
    scene = my_params["scene"]
    character_name = my_params["character_name"]
    dialogue = my_params["dialogue"]

    # Passing to my function: do the inserr
    esecuele.insert_one_row(scene, character_name, dialogue)
    return f"Query succesfully inserted"


if __name__ == "__main__":
    app.run(port=9000, debug=True)

In [22]:
import sqlalchemy as alch
import os
from dotenv import load_dotenv

load_dotenv()

dbName = "project_4"
password=os.getenv("password")


connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [23]:
engine

Engine(mysql+pymysql://root:***@localhost/project_4)