# Main

In [2]:
import os

import json
import requests


from functools import reduce
import operator

import pandas as pd
import numpy as np
import re

import sqlalchemy as alch
from getpass import getpass

In [3]:
password = getpass("Insert your password here: ")

Insert your password here: ········

In [5]:
dbName = "project_4"

In [6]:
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [7]:
engine = alch.create_engine(connectionData)

In [8]:
list(engine.execute("SELECT * FROM trump_rally_speeches"))

[]

In [9]:
trump_speech_df= pd.read_csv("./trump_speech_df.csv")

In [19]:
trump_speech_df.sample()

,location,date,year,speech
22,NewHampshire,Feb10,2020,"Hello, Manchester, and I am thrilled to be in ..."

In [17]:
def check (something, obj):
    
    if something == "location":
        query = list(engine.execute(f"SELECT name FROM location WHERE name = '{obj}';"))
        if len(query) > 0:
            return True
        else:
            return False

In [18]:
check("Hershey", "2019")

In [ ]:
    if something == "date":
        query = list(engine.execute(f"SELECT name FROM date WHERE name = '{obj}';"))
        if len(query) > 0:
            return True
        else:
            return False


    if something == "year":
        query = list(engine.execute(f"SELECT name FROM year WHERE name = '{obj}';"))
        if len(query) > 0:
            return True
        else:
            return False

In [ ]:
def insertIronhacker (string):
    if check("ironhacker", string):
        return "It already exists"
    else:
        engine.execute(f"INSERT INTO ironhackers (name) VALUES ('{string}');")